


body{
  width: 60%;


  /*
  * transparent (default)
  * color
  * rgba()
  * rgb()
  */
  background-color: transparent;


  /*
  * none
  * url('URL')
  * linear-gradient()
  * radial-gradient()
  * repeating-linear-gradient()
  * repeating-radial-gradient()
  * inherit
  */
  background-image: none;
  background-repeat: no-repeat;

  /* 设置背景图像是否固定或者随着页面的其余部分滚动
  * scroll (default) 背景随着页面的滚动而滚动
  * fixed 背景不会随着页面的滚动而滚动
  * local 背景随着元素内容滚动而滚动
  * initial
  * inherit
  */
  background-attachment: fixed;


  /*
  * border-box (default) 与 border 外边重叠
  * padding-box 与 order 内边重叠
  * content-box 与 padding 线重叠
  */
  background-clip: border-box;

  /*
  * border-box (default)
  * padding-box
  * content-box
  */
  background-origin: border-box;

  /* */
  background-position: 0px;
  background-position-x: 0px;
  background-position-y: 1px;


  background-blend-mode: color;
  background-size: auto;



  border: 10px solid #3b8070;
  border-style: solid;
  border-color: #3b8070;
  border-collapse: collapse;
  border-image: url("/shi.png");


  border-bottom: #3b8070;
  border-top: #3b8070;
  border-left: #3b8070;
  border-right: #3b8070;

}
